In [2]:
import pandas as pd
import numpy as np

listNYC.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1886820,Quaint City Island Community.,9815788,Steve,Bronx,City Island,40.841144,-73.783052,Entire home/apt,300,7,0,NaN,NaN,1,365
1,755528,PRIVATE BATH/TONS OF SUNLIGHT/SAFE,3684360,Enrique,Bronx,Allerton,40.858397,-73.869686,Private room,49,2,69,2016-04-11,1.62,2,290
2,260566,Private Room Guests Homestay,1367090,Toni Ann,Bronx,Allerton,40.867022,-73.852723,Private room,40,3,17,2015-08-29,0.35,6,329
3,12696809,Small Studio apt,11344542,Ian,Bronx,Allerton,40.865535,-73.868010,Entire home/apt,154,3,0,NaN,NaN,1,89
4,3400359,Awesome Deal NYC,16286162,Pat,Bronx,Allerton,40.866770,-73.859378,Private room,44,2,33,2016-03-31,1.48,4,325

In [3]:
listNYC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32575 entries, 0 to 32574
Data columns (total 16 columns):
id                                32575 non-null int64
name                              32574 non-null object
host_id                           32575 non-null int64
host_name                         32570 non-null object
neighbourhood_group               32575 non-null object
neighbourhood                     32575 non-null object
latitude                          32575 non-null float64
longitude                         32575 non-null float64
room_type                         32575 non-null object
price                             32575 non-null int64
minimum_nights                    32575 non-null int64
number_of_reviews                 32575 non-null int64
last_review                       25087 non-null object
reviews_per_month                 25087 non-null float64
calculated_host_listings_count    32575 non-null int64
availability_365                  32575 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.2+ MB

In [4]:
# the percentage of individuals that died on the titanic
float(len(listNYC[listNYC.neighbourhood_group=='Manhattan']))/len(listNYC)*100.0

50.96239447429009

In [6]:
# the percentage of individuals that died on the titanic
float(len(listNYC[listNYC.neighbourhood_group=='Queens']))/len(listNYC)*100.0

8.429777436684574

In [8]:
# Lets aggregate by neighbourhood group and display the average number of reviews by neighbourhood group
listNYC_grouped = listNYC.groupby(by='neighbourhood_group')
print listNYC_grouped.number_of_reviews.sum()
print '---------------------------------------'
print listNYC_grouped.id.count()
print '---------------------------------------'
print listNYC_grouped.number_of_reviews.sum() / listNYC_grouped.id.count()

neighbourhood_group
Bronx              5179
Brooklyn         174021
Manhattan        232347
Queens            35786
Staten Island      2742
Name: number_of_reviews, dtype: int64
---------------------------------------
neighbourhood_group
Bronx              462
Brooklyn         12577
Manhattan        16601
Queens            2746
Staten Island      189
Name: id, dtype: int64
---------------------------------------
neighbourhood_group
Bronx            11.209957
Brooklyn         13.836447
Manhattan        13.995964
Queens           13.032047
Staten Island    14.507937
dtype: float64